<h1>Анализ</h1>
  
<% if @result == 'Сначала нужно выбрать длительность' %>
  <%= @result %>
<% else %>
  <% if @result != nil %>
    <div id="final-res">Итоговый результат: <%= @result[3] %>%</div>
  <% end %>
  <div class="table_pos block-scroll">
    <table class="table-res-1">
      <tbody>
        <tr>
          <td>№</td>
          <% if @result != nil %>
            <td>T/<%= @result[2] %>, сек</td>
          <% else %>
            <td>T, сек</td>
          <% end %>
          <td>Ошибка, %</td>
        </tr>
        <% if @result != nil %>
          <% @result[0].each_index do |item| %>
          <tr>
            <td><%= item + 1 %></td>
            <td><%= @result[0][item] %></td>
            <td><%= @result[1][item] %></td>
          </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

