<div class="pos">
  <div class="main_content">
    <div class="block-left">Рейтинг пользователей
      <h2>Список пользователей</h2>
      <div class="table_pos1">
        <table class="table_users">
          <tbody>
            <% list_users = User.all %>
            <% list_users.length.times do |i| %>
            <tr>
              <td><%= list_users[i].id %></td>
              <td><%= list_users[i].email %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="block-center">
      <h1>Выберите длительность</h1>
      <!--#<a href="#" onclick="this.style.backgroundColor='#009900';this.style.color='#FFFFFF';event.preventDefault();">Paint it green</a>-->
      <!--#<p id="demo"></p>-->
      

      <%= form_with url: form_path do |form| %>
        <div class="dl">
          <input class="radio1" type="radio" id="dl1" name="dl" value="1/1" />
          <label for="age_child">1/1&nbsp&nbsp&nbsp</label>
          <input type="radio" id="dl2" name="dl" value="1/2" />
          <label for="age_adult">1/2&nbsp&nbsp&nbsp</label>
          <input type="radio" id="dl1" name="dl" value="1/3" />
          <label for="age_child">1/3&nbsp&nbsp&nbsp</label>
          <input type="radio" id="dl2" name="dl" value="1/4" />
          <label for="age_adult">1/4</label>
        </div>
        <span class="pulse"><p id="pulse-drum">🥁</p></span>
        
        
        <%= form.submit('CLICK', id: 'calculate-btn', name: 'a_button') %></br></br>
        <%= form.submit('STOP', id: 'calc-btn', name: 'b_button') %>
      <% end %>



      <div id='result-container'></div>
    </div>
    <div class="block-right">
    Block-right
    </div>
  </div>
</div>