<div class="pos">
  <div class="main_content">
    <div class="block-left"><p class="green">ะะตะนัะธะฝะณ ะฟะพะปัะทะพะฒะฐัะตะปะตะน</p>
      <div class="table_pos1">
        <table class="table_users">
          <tbody>
            <tr>
              <td>โ</td>
              <td>ะะพะปัะทะพะฒะฐัะตะปั</td>
              <td>%</td>
            </tr>
            <% list_users = User.order(:statistics) %>
            <% list_users.length.times do |i| %>
              <tr>
                <td><%= i + 1 %></td>
                <td><%= list_users[list_users.length - i - 1].email %></td>
                <td><%= list_users[list_users.length - i - 1].statistics %>/100</td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <p>ะฅะพัะตัั ะฒ ัะตะนัะธะฝะณ? ะัะพะดะตัะถะธัั</br><span class='green'>ะฑะพะปะตะต 10 ัะตะบัะฝะด</span></p>
    </div>
    <div class="block-center">
      <h1>ะัะฑะตัะธัะต ะดะปะธัะตะปัะฝะพััั</h1>
      <!--#<a href="#" onclick="this.style.backgroundColor='#009900';this.style.color='#FFFFFF';event.preventDefault();">Paint it green</a>-->
      <!--#<p id="demo"></p>-->
      

      <%= form_with url: form_path do |form| %>
        <div class="dl">
          <input class="radio1" type="radio" id="dl1" name="dl" value="1/1" />
          <label for="age_child">1/1&nbsp&nbsp&nbsp</label>
          <input type="radio" id="dl2" name="dl" value="1/2" />
          <label for="age_adult">1/2&nbsp&nbsp&nbsp</label>
          <input type="radio" id="dl3" name="dl" value="1/3" />
          <label for="age_child">1/3&nbsp&nbsp&nbsp</label>
          <input type="radio" id="dl4" name="dl" value="1/4" />
          <label for="age_adult">1/4&nbsp&nbsp&nbsp</label>
          <input type="radio" id="dl5" name="dl" value="Hard"/>
          <label for="age_child">Hard&nbsp&nbsp&nbsp</label>
        </div></br></br>
        <span class="pulse"><p id="pulse-drum">๐ฅ</p></span>
        
        
        <%= form.submit('CLICK', id: 'calculate-btn', name: 'a_button') %>
        <audio id="metr_2" src="<%= asset_path('metr_2.wav') %>"></audio>
        <button id="btn_metr">๐ต</button></br></br>
        <%= form.submit('STOP', id: 'calc-btn', name: 'b_button') %>
      <% end %>



      <div id='result-container'></div>
    </div>
    <div class="block-right">
      <span class="_link_"><%= link_to "ะะฝััััะบัะธั", instruction_path %></span>
      <div class="pos">Hard</div>
      <div id="table-dl">
        <table>
          <tbody>
            <tr>
              <td>1 ัะดะฐั โก ๐ด๐ต๐ต๐ต</td>
            </tr>
            <tr>
              <td>2 ัะดะฐั โก ๐ต๐ด๐ต๐ต</td>
            </tr>
            <tr>
              <td>3 ัะดะฐั โก ๐ต๐ต๐ด๐ต</td>
            </tr>
            <tr>
              <td>4 ัะดะฐั โก ๐ต๐ต๐ต๐ด</td>
            </tr>
          </tbody>
        </table>
      </div>
      <p>(ัะผ.ะธะฝััััะบัะธั)</p></br>
      <p>ะะฐั ะฟัะพะณัะตัั</p>
      <span class="_link_"><%= link_to "PROGRESS", progress_path %></span></br></br>
      <%= form_with url: form_path do |form| %>        
        <%= form.submit('ะัะธััะธััโ', id: 'clean-btn', name: 'clean') %>
      <% end %>
    </div>
  </div>
</div>