<!DOCTYPE html>
<html>
  <head>
    <title>TestApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <header>
    <div class="main-menu">
      <%= link_to "Главная", root_path %>
      <%= link_to "Задание", dashboard_path %>
      <% if current_user %>
        &nbsp&nbsp&nbsp Аккаунт: <%= current_user.email %>
        <div class="log-out"><%= button_to "Выйти", destroy_user_session_path, method: :delete, data: {turbo: false} %></div>
      <% else %>
        <%= link_to "Регистрация", new_user_registration_path %>
        <%= link_to "Вход", new_user_session_path %>
      <% end %>
    </div>
  </header>
  <body>
    <div class="pos"><%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p></div>
  </body>
</html>
