<!DOCTYPE html>
<html>
  <head>
    <title>TestApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <header>
    <div class="main-menu">
      <span class="_link_"><%= link_to "Главная", root_path %></span>
      <span class="_link_"><%= link_to "GO 🥁", dashboard_path %></span>
      <% if current_user %>
        <span id="akk">&nbsp&nbsp&nbsp Аккаунт: <%= current_user.email %></span>
        <div class="log-out"><%= button_to "Выйти", destroy_user_session_path, method: :delete, data: {turbo: false} %></div>
      <% else %>
        <span class="_link_"><%= link_to "Регистрация", new_user_registration_path %></span>
        <span class="_link_"><%= link_to "Вход", new_user_session_path %></span>
      <% end %>
    </div>
  </header>
  <body class="bg-ex-parallax">
    <div class="pos"><%= yield %></div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
